/* Write your CSS here */
.image-style {
  height: 60%;
  width: 100%;
}
.list-items {
  list-style-type: none;
}

.container12 {
  height: 30%;
  width: 40%;
  margin: 10px;
}

.name {
  font-size: 25px;
}
.location {
  font-size: 25px;
}
@media (max-width: 680px) {
  .image-style {
    height: 100%;
    width: 100%;
  }
  .list-items {
    list-style-type: none;
  }

  .container12 {
    height: 30vh;
    width: 40%;
    margin-right: 5px;
  }

  .name {
    font-size: 12px;
  }
  .location {
    font-size: 10px;
  }
}
